/* 비주얼영역 */
.visual .box1 .swiper-container .swiper-wrapper .swiper-slide>img{
    width: 100%; position: relative;}
.visual .box1 .swiper-container .swiper-wrapper .swiper-slide>span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    font-size: 3.2rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 4px 5px rgba(56, 56, 56, 0.3);
    font-family: "Merriweather", serif;
    font-weight: 300;
    text-align: center;}
.visual .box1 .swiper-container .swiper-wrapper .swiper-slide .fontdeco{
    font-family: "Fugaz One", sans-serif;}

/* 공동 */
#content section h3{
    font-size: 2.8rem; font-weight: 500;
    margin-top: 100px; text-align: center;
    position: relative;}
#content section h4{
    font-size: 1.4rem; text-align: center;}
#content section h5{
    font-size: .9rem; margin-top: 100px; text-align: center;}
/* #content section h5{
    font-size: .8rem; margin-top: 100px; text-align: center;} */
#content section>span{
    font-size: 1rem; color: #007AC3;
    font-weight: 200; text-align: center;
    display: block;}
#content section>p{
    font-size: 1.2rem; font-weight: 400;
    text-align: center; margin: 80px 0 10px 0;}
#content section h2::after{
    content: '';  display: block;
    width: 1.2px; height: 45px;
    background: #ED1B2E; position: absolute;
    top: 95px; left: 50%;}

/* 본문영역 1. 회사소개 */
#content .about .box2 .swiper-container .swiper-wrapper .swiper-slide>img{
    width: 100%; position: relative;}
#content .about .box2 .swiper-container .swiper-wrapper .swiper-slide a>h4{
    position: absolute;  font-size: .9rem;  bottom: 40px;
    left: 50%; transform: translateX(-50%);
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff; font-weight: 400;  padding: 5px 45px;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{color: #fff;}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    color: #fff;}

/* 본문영역 2. 사업소개 */
#content .business .mid_menu a.active { background:#007AC3; color: #fff; font-weight:600; }
#content .business .mid_menu{
    display: flex; border: 1px solid #ccc;
    padding: 7px 0; margin:20px  auto;}
#content .business .mid_menu li{
    position: relative; width: 33.33%; text-align: center;}
#content .business .mid_menu li:not(:last-child)::before{
    content: '';
    background: #333;
    width: 1px;
    height: 85%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;}
#content .business .mid_menu>li a{padding: 3px 0;}
#content .business .swiper_tab li {position: relative;}
#content .business .swiper_tab li>img{width: 100%;}
#content .business .swiper_tab .business_content a{
    background: #007cc3d6;
    border-radius: 20px 0 0 0;
    width: 80%; position: absolute;
    bottom: -80px; left: 50%;
    transform: translateX(-50%);   color: #fff;
    padding: 20px;}
#content .business .swiper_tab .business_content a h4{
    display: inline; font-size: 1.3rem;
    text-align: left; font-weight: 600;}
#content .business .swiper_tab .business_content a span{
    font-weight: 300; margin-left: 10px;}
#content .business .swiper_tab .business_content a p{
    font-weight: 400; margin-top: 10px; text-align: justify;}
#content .business .swiper_tab .swiper-wrapper{padding-bottom: 100px;}

/* 본문영역 3. 지속가능경영 */
#content .manage div{
    width: 100%;
    height: auto;
    background: url(../images/main/manage_back.jpg) center no-repeat; background-size: cover; }
#content .manage div ul li{
    height: 171px; overflow: hidden;
    border-bottom: 1px solid #fff;
    position: relative;}
#content .manage p{margin-bottom: 20px;}
#content .manage div ul li a{display: flex; justify-content: space-between;
   width:86%; margin: 50px auto;}
#content .manage div ul li img{
    width: 70px;  height: 70px;}
#content .manage div ul li h4{
    color: #fff; margin-top: 25px;
    font-weight: 500;}
#content .manage div ul li i{
    color: #fff;  font-size: 1.5rem; margin-top: 25px;}

/* 본문영역 4. 인재채용 */
#content .human_resources .human_all{
    width: 100%; height: 340px;
    background: url(../images/main/human_back.jpg) center no-repeat; 
    background-size: cover; margin-bottom: 150px; overflow: visible;}
#content .human_resources .human_content{
    font-weight: 700; top:200px}
#content .human_resources .human_content li{
    display: block;
    text-align: center; 
    width: 150px; height: 150px;
    border-top-left-radius: 30px; 
    padding: 30px; }
#content .human_resources .human_content li a h4{ color: #fff; font-weight: 500;}
#content .human_resources .human_content li:nth-of-type(1){background: #5AA9F6;}
#content .human_resources .human_content li:nth-of-type(2){background: #007AC3;}
#content .human_resources .human_content li:nth-of-type(3){background: #114566;}
#content .human_resources .human_content li a>img{width: 100px;  padding-bottom: 20px; }


