/* ---------- 본문 영역 ---------- */
/* ---------- Sub4_1 ---------- */
/* 인재상 */
#content .content_area section  .con_item {
    margin-top: 60px; 
    display: flex;
    align-items: center;
    flex-flow: column;
}
#content .content_area section .con_item li {
    margin-top: -19px;
    position: relative;
}
#content .content_area section .con_item li dl{
    width: 55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#content .content_area section .con_item li dl .hu_re_title{
    background: #007ac3;
    color: #fff;
    font-weight: 400;
    border-radius: 15px 0 0 0;
    /* width: 190px; */
    padding: 10px 0 10px 20px;
}
#content .content_area section .con_item li dl .hu_re_title>strong{
    font-size: 1.25rem;
    }

#content .content_area section .con_item img{
    width: 40%;
    height: 40%;
    float: left;
    }

#content .content_area section .con_item .hu_re_con{
    margin: 10px 0 0 22px;
}
#content .content_area section .con_item .hu_re_con dd{
    position: relative;
    font-size: .95rem;
}
#content .content_area section  .con_item .hu_re_con dd::before{
    position: absolute;
    content: "";
    width: 4px; height: 4px; border-radius: 50px;
    background: #333;
    top: 9px; left: -12px;
}
