/* ---------- Sub4_3 ---------- */
/* 채용안내 */
#content .content_area section .sub4_5 .hu_re_guide_1 {
    margin-top: 60px;  display: flex; align-items: center; flex-flow: column;}
#content .content_area section .sub4_5 .hu_re_guide_1 li {
    display: flex; margin-top: -20px;}
#content .content_area section .sub4_5 .hu_re_guide_1 dl{
    width: 180px;
    margin-top: 20px;
    overflow: hidden;}
#content .content_area section .sub4_5 .hu_re_guide_1 .hu_re_gui_title{
    background: #007ac3;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: 15px 0 0 0;
    width: 70px;
    padding: 5px;
    float: left;}
#content .content_area section .sub4_5 .hu_re_guide_1 dd:nth-of-type(1){
    text-align: left;
    font-size: 1.2rem;
    color: #007ac3;
    font-weight: 600;
    float: right;
    padding-top: 2px;
}
#content .content_area section .sub4_5 .hu_re_guide_1 dd:nth-of-type(2){
    clear: both;
    font-size: 1.15rem;
    margin-left: 20px;
    padding-top: 10px;
}
#content .content_area section .sub4_5 .hu_re_guide_1 .hu_re_title>strong{
    font-size: 1.25rem; }
#content .content_area section .sub4_5 .hu_re_guide_1 img{
    width: 160px; margin-right: 40px; float: left;}
#content .content_area section .sub4_5 .hu_re_guide_1 .hu_re_con{
    margin: 10px 0 0 22px;
}
#content .content_area section .sub4_5 .hu_re_guide_1 .hu_re_con dd{
    position: relative;
}
#content .content_area section .sub4_5 .hu_re_guide_1 .hu_re_con dd::before{
    position: absolute;
    content: "";
    width: 5px; height: 5px; border-radius: 50px;
    background: #333;
    top: 9px; left: -12px;
}