/* ---------- Sub4_3 ---------- */
/* 채용안내 */
#content .content_area section .con_item .con_box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-flow: column;
}
#content .content_area section .con_item .con_box li {
    /* display: flex; */
    position: relative;
    margin-top: -20px;
}
#content .content_area section .con_item .con_box dl{
    width: 50%;
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%); */
    right: 0;
}
#content .content_area section .con_item .con_box li dt{
    /* background: #007ac3; */
    color: #007ac3;
    font-weight: 700;
    text-align: left;
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 10px;
}

#content .content_area section .con_item .con_box dd:nth-of-type(1){
    color: #333;
    font-weight: 400;
    text-align: left;
    font-size: 1.2rem;
    display: inline-block;
}
#content .content_area section .con_item .con_box dl dd:nth-of-type(2){
    clear: both;
    font-size: 1.15rem;
    margin: 10px 0 0 25px;
    /* padding-top: 10px; */
    position: relative;
}

#content .content_area section .con_item .con_box dl dd:nth-of-type(2)::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    left: -10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
    /* border: 1px solid red; */

}
#content .content_area section .con_item .con_box .hu_re_title>strong{
    font-size: 1.25rem;
}
#content .content_area section .con_item .con_box img{
    width: 40%;
    float: left;
}
#content .content_area section .con_item .con_box .hu_re_con{
    margin: 10px 0 0 22px;
}
#content .content_area section .con_item .con_box .hu_re_con dd{
    position: relative;
}
