#content{
    width: 93%;
    margin: 0 auto;
}

#content .content_area p strong {
    color: #007ac3;
}

#content .p2{
    text-align: justify;
    margin: 25px 0 35px 0;
}


/* 1 중간탭 */
#content .tab_menu_all {
    margin: 35px auto;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#content .content_area .contlist{
    margin-bottom: 150px;
}

/* 2 중간버튼 - 드롭다운 */
#content .tab_menu_all .dropdown-label{
    font-size : 12px;
    margin : 10px;
    font-weight : bold;
    color : rgb(50, 50, 50);
    position : relative;
    display : inline-block;
    text-align: center;
}

#content .tab_menu_all .dropdown-label .dropbtn{
    display : block;
    border : 2px solid rgb(94, 94, 94);
    border-radius : 4px;
    background-color: #fcfcfc;
    font-weight: 400;
    color : rgb(124, 124, 124);
    padding : 12px;
    width :350px;
    text-align: center;
    cursor : pointer;
    font-size : 1.1rem;
    z-index :1;
    position : relative;
}

#content .tab_menu_all .dropdown-label .dropdown-content{
    display : none;
    font-weight: 400;
    background-color: #fcfcfc;
    min-width : 350px;
    border-radius: 8px;
    height : 160px;
    overflow : scroll;
    box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#content .tab_menu_all .dropdown-label .dropdown-content::-webkit-scrollbar{
    width : 5px;
    height : 10px;
}

#content .tab_menu_all .dropdown-label .dropdown-content::-webkit-scrollbar-thumb{
    border-radius : 2px;
    background-color :rgb(194, 194, 194)
}

#content .tab_menu_all .dropdown-label .dropdown-content div{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: .95rem;
    padding : 12px 20px;
}

#content .tab_menu_all .dropdown-label .dropdown-content div:hover{
    background-color: rgb(226, 226, 226);
}

#content .tab_menu_all .dropdown-label .dropdown-content.show{
    display : block;
}

#content .tab_menu_all .dropdown-label .dropbtn .fa-sort-down{
    font-size : 1.15rem;
    color : #3b3b3b;
    float:right;
}

body.dropdown-open {
    overflow: hidden;
}

/* ---------- 본문 영역 ---------- */
/* ---------- Sub3_1 ---------- */
/* -------------------------------------------------------- */
/* Tab1 KGC 안전보건경영방침 */

#content .content_area section .principles .main_text dl{
    width: 93%;
    /* float: left; */
    font-size: 0.89rem;
    color: #858885;
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
}

/* #content .content_area section .principles .main_text dl::after {
    content: "0" counter(number);
    counter-increment: number 1;
    font-size: 8rem;
    color: #f8f8f8;
    position: absolute;
    right: -10px;
    bottom: 125px;
    z-index: 1;
} */

#content .content_area section .principles .main_text dt{
    margin-bottom: 10px;
    position: relative;
}

/* #content .content_area section .principles .main_text dt::after{
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background: #f8f8f8;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: -1;
} */

#content .content_area section .principles .main_text dt img{
    width: 62px;
    height: 59px;
    margin: 8px 20px 5px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid #007AC3;
    float: left;
}

#content .content_area section .principles .main_text dt span{
    display: inline-block;
    font-size: 1.2em;
    font-weight:600;
    color:#333;
    /* position: absolute; */
}

#content .content_area section .principles .main_text dd{
    font-size: 1rem;
    font-weight: 500;
    color: #333333; 
    /* padding: 10px 0; */
    text-align: justify;
}
 




/* #content .tab_menu_all .tab_menu {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
    padding: 0;
    justify-content: center;
} */

/* #content .tab_menu_all .tab_menu li {
    flex: 0 0 auto; 
    width: 25%;
}  */
/* 
#content .tab_menu_all .tab_menu li a {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1.5px solid #007ac3;
    background: #f3f3f3;
    color: #007ac3;
    font-weight: 500;
    font-size: 1rem; 
    box-sizing: border-box;
    text-align: center;
} */




/* 안전보건경영의 실제 본문 내용 css */
/* 중간버튼 */
/* #content .safty_nav ul{
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    }
#content .safty_nav li{
    background: #007AC3;
    margin: 10px; color: #fff; 
    border-radius: 15px;
    padding:15px 20px;
    box-sizing: border-box;
    text-align: center;
    }

#content .content_area .safty h4{
    text-align: center;
    font-weight: 500;
    padding-top: 200px;
    }  */

/* #content .content_area .safty p{text-align: justify;} */



/* h4 Managerial Objective */
#content .content_area .managerial{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 수직 가운데 정렬 */
}
#content .content_area .managerial ul {
    padding: 20px 0 35px 0;
    /* display: flex; */
    /* justify-content: space-around; */
    /* gap: 40px; */
    margin: 0 auto;
    margin-top:35px ;
    /* margin: 0 auto; */
}
#content .content_area .managerial ul li {
    color: #007ac3;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 1.1rem;
    font-weight: 500;
    border: 5px solid #007ac3;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#content .content_area .managerial ul li p {
    padding-top: 5px;
    text-align: center;
    position: relative;
}

#content .content_area .managerial ul li p span {
    font-weight: 700;
    font-size: 1.3rem;
}

#content .content_area .managerial ul li::after{
    content: "" ;
    color: #007ac3;
    font-weight: 900;
    position: absolute;
    top: -50px;
    left: 10px;
    font-size: 4rem;
}

#content .content_area .managerial ul li:nth-of-type(1):after{
    content: "1" ;
}

#content .content_area .managerial ul li:nth-of-type(2):after{
    content: "2" ;
}

#content .content_area .managerial ul li:nth-of-type(3):after{
    content: "3" ;
}

/* -------------------------------------------------------- */
/* Tab2 안전보건 경영시스켐 */
#content .content_area .management {
    width: 100%;
}
#content .content_area .management p {
    text-align: justify;
    margin-bottom: 50px;
}
#content .content_area .management .management_bg {
    width: 1164px;
    height: 483px;
    background: url(../imgaes/content3/management_sys.png);
    margin-top: 100px;
    position: relative;
    font-size: 1.13rem;
}
#content .content_area .management .management_bg dl {
    position: absolute;
    width: 300px;
}
#content .content_area .management .management_bg dl:nth-of-type(1) {
    left: 0;
    top: 30px;
}
#content .content_area .management .management_bg dl:nth-of-type(2) {
    right: 0;
    top: 30px;
}
#content .content_area .management .management_bg dl:nth-of-type(3) {
    left: 0;
    bottom: 40px;
}
#content .content_area .management .management_bg dl:nth-of-type(4) {
    right: 0;
    bottom: 50px;
}
#content .content_area .management .management_bg dt {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
}
#content .content_area .management .management_bg dd {
    font-size: 0.85em;
    padding-left: 10px;
    position: relative;
    margin-left: 15px;
}
#content .content_area .management .management_bg dd::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    left: 0;
    top: 11px;
}


#content .content_area .management2 ul {
    margin-bottom: 50px;
}
#content .content_area .management2 li {
    margin-bottom: 30px;
}
#content .content_area .management2 li dl {
    display: flex;
    justify-content: space-between;
}
#content .content_area .management2 li dt {
    width: 200px;
    background: #007ac3;
    color: #fff;
    font-size: 1.15em;
    font-weight: 600;
    text-align: center;
    border-radius: 30px 0 0 0;
    padding-top: 17px;
    position: relative;
}
#content .content_area .management2 li dt::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #007ac3;
    position: absolute;
    right: -30px;
    top: 30px;
}
#content .content_area .management2 li dd {
    width: 950px;
    border: 1px solid #ccc;
    padding-left: 20px;
}
#content .content_area .management2 li dd strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.05em;
}


/* tab2 - 안전보건 경영시스템 */
.safety_manage{
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 30px 0;

}
.safety_manage .container{
    overflow: hidden;
    position: relative;
}

.safety_manage .container .item_box{
    /* width: 90%; */
    /* display: flex; */
    /* gap: 20px; */
    /* padding: 50px 30px; */
    /* justify-content: center; */
    text-align: center;
}

.safety_manage .img_box{
    width: 180px;
    height: 180px;
    background: #007AC3;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin: 0 auto ;
}
.safety_manage .img_box img{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.safety_manage dl{
    margin-top: 20px;
    padding-top: 10px;
}

.safety_manage dt{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    /* display: block; */
}
.safety_manage dd{
    text-align: justify;
}
.safety_manage dd ul li{
    line-height: 1.6rem;
    margin-left: 50px;
    position: relative;
}
.safety_manage dd ul li::after{
    content: "";
    /* border: 1px solid red; */
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}
.safety_manage .next{
    color: #ED1B2E;
    position: absolute;
    top: 50px;
    /* transform: translateY(-50%); */
    right: 20px;
}
.safety_manage .prev{
    color: #ED1B2E;
    position: absolute;
    top: 50px;
    /* transform: translateY(-50%); */
    left: 20px;
}    
.safety_manage a span{
    font-size: 5rem;
}
.safety_manage .text{
    font-size: 1.2rem;
    display: inline-block;
    /* float: left; */
    /* margin-right: 30px; */
    font-weight: 400;
    margin-top: 30px;
    /* position: absolute;
    bottom: 0;
    right:0 */
}

/* --- 인증서 보기 --- */
#content .content_area .certification p {
    text-align: center;
    margin-bottom: 30px;
}

#content .content_area .certification .cert-container{
    text-align: center;
}

#content .content_area .certification .cert-container img {
    width: 90%;
    height: auto;
    border: 1px solid #333333;
    margin: 15px auto 30px auto;
}




#content .content_area .con_box_4.con_box_4 ul li{
    border: 2px solid #007AC3;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

#content .content_area .con_box_4.con_box_4 ul li dl dt{
    text-align: center;
    color: #007AC3;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

#content .content_area .con_box_4.con_box_4 ul li dl dd{
    font-size: 1.2rem;
}