/* 서브 이미지 영역 - 글씨 */
.sub_visual>span::before{
    content: 'SUSTAINABLE MANAGEMENT';
    display: block; position: absolute;
    width: 100%; top: -15px; text-align: center;
    font-size: 1rem; font-weight: 200;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

/* 1 중간탭 */
#content .tab_menu_all {
    margin: 35px auto;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#content .content_area .contlist{
    margin-bottom: 150px;
}

/* 2 중간버튼 - 드롭다운 */
#content .tab_menu_all .dropdown-label{
    font-size : 12px;
    margin : 10px;
    font-weight : bold;
    color : rgb(50, 50, 50);
    position : relative;
    display : inline-block;
    text-align: center;
}

#content .tab_menu_all .dropdown-label .dropbtn{
    display : block;
    border : 2px solid rgb(94, 94, 94);
    border-radius : 4px;
    background-color: #fcfcfc;
    font-weight: 400;
    color : rgb(124, 124, 124);
    padding : 12px;
    width :350px;
    text-align: center;
    cursor : pointer;
    font-size : 1.1rem;
    z-index :1;
    position : relative;
}

#content .tab_menu_all .dropdown-label .dropdown-content{
    display : none;
    font-weight: 400;
    background-color: #fcfcfc;
    min-width : 350px;
    border-radius: 8px;
    height : 160px;
    overflow : scroll;
    box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#content .tab_menu_all .dropdown-label .dropdown-content::-webkit-scrollbar{
    width : 5px;
    height : 10px;
}

#content .tab_menu_all .dropdown-label .dropdown-content::-webkit-scrollbar-thumb{
    border-radius : 2px;
    background-color :rgb(194, 194, 194)
}

#content .tab_menu_all .dropdown-label .dropdown-content div{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: .95rem;
    padding : 12px 20px;
}

#content .tab_menu_all .dropdown-label .dropdown-content div:hover{
    background-color: rgb(226, 226, 226);
}

#content .tab_menu_all .dropdown-label .dropdown-content.show{
    display : block;
}

#content .tab_menu_all .dropdown-label .dropbtn .fa-sort-down{
    font-size : 1.15rem;
    color : #3b3b3b;
    float:right;
}

body.dropdown-open {
    overflow: hidden;
}

/* ---------- 본문 영역 ---------- */
/* ---------- Sub3_1 ---------- */
/* -------------------------------------------------------- */
/* Tab1 KGC 안전보건경영방침 */

#content .content_area section .principles .main_text dl{
    width: 360px;
    /* margin: 0 20px 50px;  */
    float: left;
    font-size: 0.89rem;
    color: #858885;
    padding-bottom: 50px;
    position: relative;
}

#content .content_area section .principles .main_text dl::after {
    content: "0" counter(number);
    counter-increment: number 1;
    font-size: 8rem;
    color: #f8f8f8;
    position: absolute;
    right: -10px;
    bottom: 125px;
    z-index: 1;
}

#content .content_area section .principles .main_text dt{
    margin-bottom: 10px;
    position: relative;
}
#content .content_area section .principles .main_text dt::after{
    content: "";
    display: block;
    width: 270px;
    height: 2px;
    background: #f8f8f8;
    position: absolute;
    top: 75px;
    left: 0;
    z-index: -1;
}

#content .content_area section .principles .main_text dt img{
    width: 62px;
    height: 59px;
    margin-bottom: 15px ;
    padding-bottom: 15px;
    border-bottom: 3px solid #007AC3;
}

#content .content_area section .principles .main_text dt span{
    display: block;
    font-size: 1.2em;
    font-weight:600;
    color:#333
    }

#content .content_area section .principles .main_text dd{
    font-size: 1rem;
    font-weight: 500;
    color: #333333; 
    padding: 10px 0;
    text-align: justify;
}





/* #content .tab_menu_all .tab_menu {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px;
    padding: 0;
    justify-content: center;
} */

/* #content .tab_menu_all .tab_menu li {
    flex: 0 0 auto; 
    width: 25%;
}  */
/* 
#content .tab_menu_all .tab_menu li a {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1.5px solid #007ac3;
    background: #f3f3f3;
    color: #007ac3;
    font-weight: 500;
    font-size: 1rem; 
    box-sizing: border-box;
    text-align: center;
} */




/* 안전보건경영의 실제 본문 내용 css */
/* 중간버튼 */
/* #content .safty_nav ul{
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
    margin: 0 auto;
    }
#content .safty_nav li{
    background: #007AC3;
    margin: 10px; color: #fff; 
    border-radius: 15px;
    padding:15px 20px;
    box-sizing: border-box;
    text-align: center;
    }

#content .content_area .safty h4{
    text-align: center;
    font-weight: 500;
    padding-top: 200px;
    }  */

/* #content .content_area .safty p{text-align: justify;} */

#content .content_area p strong {
    color: #007ac3;
}

#content .p2{
    text-align: justify;
    margin: 25px 0 35px 0;
}


/* h4 Managerial Objective */








