
#content .content_area section .contlist{
    margin: 100px auto 50px auto;
}

/* 중간버튼 */
#content .esg_manage_head .tab_menu_all .tab_menu{
    padding: 0 auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

#content .esg_manage_head .tab_menu_all .tab_menu li{
    border-radius: 20px 0 0 0;
    width: 31%;
    text-align: center;
    padding: 10px 5px;
}

#content .esg_manage_head .tab_menu_all .tab_menu li a{
    font-size: .85rem;
    color: #fff;
}

#content .esg_manage_head .tab_menu_all .tab_menu li:nth-of-type(1){
    background: url(../images/content2/esg_mid_button_1.jpg) no-repeat 50% 50%;
    background-position: center;
}
#content .esg_manage_head .tab_menu_all .tab_menu li:nth-of-type(2){
    background-position: center;
    background: url(../images/content2/esg_mid_button_2.jpg) no-repeat 50% 50%;
}
#content .esg_manage_head .tab_menu_all .tab_menu li:nth-of-type(3){
    background-position: center;
    background: url(../images/content2/esg_mid_button_3.jpg) no-repeat 50% 50%;
}

#content .esg_manage_head .tab_menu_all .tab_menu li div{
    border: 2px solid #fff;
    width: 60px; height: 60px;
    border-radius: 100px ;
    text-align: center;
    margin: 10px;
    font-size: 2rem;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    line-height: 60px;
}

#content .esg_manage_content .pic_content{
    text-align: center;
}
#content .esg_manage_content .pic_content img{
    width: 90%;
    margin: 0 auto;
}

#content .content_area .green_2023{
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content .content_area .green_2023 .green_txt{
    margin: 50px auto 0 auto;
}
#content .content_area .green_2023 .green_txt ul{
    width: 272px;
    margin-top: 50px;

}
#content .content_area .green_2023 .green_txt ul div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}
/* #content .content_area .green_2023 .green_txt ul li{
    margin: 30px auto;
} */

#content .content_area .green_2023 .green_txt .txt_01{
    background: url(../images/content2/environ_1.png) no-repeat;
    background-position: center;
    width: 272px;
    position: relative;
    height: 390px;
    /* padding: 50px; */
    /* border: 1px solid red; */
}
#content .content_area .green_2023 .green_txt .txt_02{
    background: url(../images/content2/environ_2.png) no-repeat;
    background-position: center;
    width: 272px;
    position: relative;
    height: 390px;
}
#content .content_area .green_2023 .green_txt .txt_03{
    background: url(../images/content2/environ_3.png) no-repeat;
    background-position: center;
    width: 272px;
    position: relative;
    /* border: 1px solid red; */
    height: 390px;
}
#content .content_area .green_2023 .green_txt .txt_04{
    background: url(../images/content2/environ_4.png) no-repeat;
    background-position: center;
    width: 272px;
    position: relative;
    height: 390px;
    border: 1px solid red;
}

#content .content_area .green_2023 .green_txt .txt_01 ul{
    position: absolute;
    top: 150px;
}
#content .content_area .green_2023 .green_txt ul li:nth-of-type(1){
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}

#content .content_area .green_2023 .green_txt ul li:not(:nth-of-type(1)){
    text-align: left;
    font-size: 1rem;
    padding: 0 15px;
    margin-left: 30px;
    position: relative;
}

#content .content_area .green_2023 .green_txt ul li:not(:nth-of-type(1))::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #333;
    /* border: 1px solid red; */

}




