body{
    background-color: #eee;
    font-size: 16px;
}
h1 a{
    margin: 50px auto 0;
    display: block;
    width: 298px;
    height: 27px;
    text-indent: -9999px; overflow: hidden;
    background: url(../../common/images/logo_03.png) center no-repeat;
}

#content{
    width: 90%;
    margin: 50px auto;
    background: #fff;
    border-radius: 10px;
    padding: 50px 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    }

#content h2{
    font-size: 1.5rem;
}
#content p{
    color: #999;
    font-weight: 400;
    font-weight: .9rem;
}
#content form{
    margin-top: 50px;
}
#content form label{
    font-size: .9rem;
    display: block;
    margin-bottom: 5px;
}
#content form input{
    border: 1px solid #ddd;
    width: 100%; height: 50px;
    border-radius: 7px; 
    margin-bottom: 15px;
    padding-left: 20px;
}
#content form input::placeholder{
    font-family: 'Noto Sans KR', sans-serif;
    color: #ddd;
}

#content form input[type=submit]{
    margin-top: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    border: 1.5px solid #007ac3;
    background: #f3f3f3;
    color: #007ac3;
    font-weight: 500;
    height: 60px;
    cursor: pointer;
}
#content form input:focus{
    outline-color: #007ac3;
}

#content form input[type=submit]:hover{
    color: #fff;
    background: #007ac3;
}

#content div:nth-of-type(1){
    margin-left: 50%;
    transform: translateX(-40%);
}
#content div:nth-of-type(1) a{
    font-weight: 400;
    color: #999;
    display: inline;
}
#content div:nth-of-type(1) a:last-child{
    margin-left: 10px; position: relative;
}
#content div:nth-of-type(1) a:last-child::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 50%; background: #999;
    left: -8px; top: 7px;
}
#content div:nth-of-type(2){
    width: 100%; margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-30%);
}
#content div:nth-of-type(2) span{
    color: #666;
}
#content div:nth-of-type(2) a{
    display: inline;
    color: #007ac3;
}
