/* 서브 이미지 영역 - 글씨 */
.sub_visual>span::before{
    content: 'KOLON’S BUSINESS AREA';
    display: block; position: absolute;
    width: 100%; top: -15px; text-align: center;
    font-size: 1rem; font-weight: 200;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}

/* 중간 메뉴 */
.sub_nav li{
    width: 33.333%;
    float: left;
}

/* 본문 */
#content .content_area section .contlist .item_box{
    background: #ccc;
    border-radius: 30px;
    margin: 30px auto 0 auto;
    padding: 15px;
}
#content .content_area section .contlist .img{
    margin: 0px auto;
}

#content .content_area section .contlist .img img{
    width: 100%;
    border-radius: 20px;
}

#content .content_area section .contlist .img2 img{
    margin-top: 30px;
}


#content .content_area section .contlist ul .text dl{
    width: 98%;
    margin: 0 auto;
    line-height: 1.75rem;
}
#content .content_area section .contlist ul .text dl dt{
    /* border-right: 1px solid red; */
    float: left;
    font-weight: 700;
    /* text-align: justify; */
    /* margin-right: 15px; */
    width: 62px;
}
#content .content_area section .contlist ul .text dl dd{
    margin-left: 70px;
    width: 280px;
}
#content .content_area section .contlist ul .text dl dd ul .list{
    margin-left: 5px;
}

#content .content_area section .contlist ul .text p{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 800;
    margin: 20px 0 15px 0;
    color: #007ac3;
}